body{
    background-color: rgba(0, 0, 0, 0.838);
}

body:after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index:-1;
    content: url(../images/fb-bw.jpeg) url(../images/ig-bw.jpeg) url(../images/netflix-bw.png);
}

a{
    cursor: pointer;
}

.header-main{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.header-main-logo{
    width: fit-content;
    height: 100%;
    display: flex;
    padding-left: 20px;
}

.image{
    background-image: url(../images/netflix.png);
    height: 40px;
    width: 120px;
    background-size: cover;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    align-self: center;
}

.image:hover{
    background-image: url(../images/netflix-bw.png);
}

.header-main-nav{
    width: fit-content;
    height: 100%;
    align-items: center;
}

.header-main-nav ul{
    list-style: none;
    margin-left: 20px;
}
.header-main-nav ul li{
    display: inline;
    float: left;
}
.header-main-nav ul li a{
    padding: 0 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 60px;
    color: #000;
    display: block;
    height: 100%;
}

.header-main-nav ul li a:hover{
    color: rgb(233, 7, 7);
}

.header-main-sm{
    padding-right: 20px;
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-main-sm-fb{
    width: 20px;
    height: 20px;
    background-image: url(../images/fb.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.header-main-sm-ig{
    width: 20px;
    height: 20px;
    background-image: url(../images/ig.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.header-main-sm-fb:hover{
    background-image: url(../images/fb-bw.jpeg);
}

.header-main-sm-ig:hover{
    background-image: url(../images/ig-bw.jpeg);

}
